{% extends "app/base.html" %}
<!--load static-->
{% load static %}
<!--slider-->
{% block banner_slider %}
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "app/images/banner/b1.jpg" %}" class="d-block w-100"
      alt="milk" />
      <div class="carousel-caption d-none d-md-block text-black" style="background:#E1E8EF39">
        <h5> <b>Dairy Pure</b></h5>
        <p  >Chào mừng bạn đến với Dairy Pure - sự kết hợp hoàn hảo giữa tinh khiết và sự tươi mới, mang
           đến bởi thương hiệu Neel. Dairy Pure không chỉ là sữa, mà là một trải nghiệm đích thực của hương vị tinh tế và chất lượng dinh dưỡng.


        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static "app/images/banner/b2.jpg" %}" class="d-block w-100"
      alt="slide 2" />
      <div class="carousel-caption d-none d-md-block bg-light text-black">
        <h5> <b>Milk Shake</b></h5>
        <p >Chào mừng đến với thế giới của sự tinh khiết và hương vị thượng đỉnh, thương hiệu Neel - một hành trình của sự hoàn hảo 
          và chăm sóc tận tâm. Neel không chỉ là sữa, mà là một trải nghiệm tinh tế đích thực về sức khỏe và hạnh phúc.

        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static "app/images/banner/b3.jpg" %}" style="height" class="d-block w-100"
      alt="slide 3" />
      <div class="carousel-caption d-none d-md-block bg-light text-black">
        <h5> <b>Cookie and cream</b></h5>
        <p >Chào mừng bạn đến với thế giới ngọt ngào và đặc sắc của bánh cookie và kem với thương hiệu Neel - 
          nơi hội tụ hoàn hảo giữa vị ngọt và vị béo, tạo nên một trải nghiệm thưởng thức độc đáo.

        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{%endblock banner_slider %}
<!--main-->
{% block main-content %}
<div class="row" style="width: 100%">
  {%for product in products %}
  <div class="col-lg-2" style="margin:20px">
    <img class="thumbnail"style="width: 100%" src="{{product.imageUrl}}" />
    <div class="box-element product">
      <h6><strong> {{product.name}}</strong></h6>
      <hr />
      <button
        data-product="{{product.id}}"
        data-action="add"
        class="btn btn-outline-secondary add-btn update-cart"
      >
        Add Cart
      </button>
      <a class="btn btn-outline-success" href="{% url "detail" %}?id={{product.id}}">View</a>
      <h6 style="display: inline-block; float: right">
        <strong>${{product.price| floatformat:1}}</strong>
      </h6>
    </div>
  </div>
  {% endfor %}

</div>
{%endblock main-content %}
