{% extends "app/base.html" %}
<!--load static-->
{% load static %}
<!--slider-->
{% block search %}

<h5>Resuilt search for {{searched}}</h5>
<div class="row" style="width: 100%">
  {%for product in keys %}
  <div class="col-lg-2" style="margin: 20px">
    <img class="thumbnail" style="width: 100%" src="{{product.imageUrl}}" />
    <div class="box-element product">
      <h6><strong> {{product.name}}</strong></h6>
      <hr />
      <button
        data-product="{{product.id}}"
        data-action="add"
        class="btn btn-outline-secondary add-btn update-cart"
      >
        Add Cart
      </button>
      <a class="btn btn-outline-success" href="#">View</a>
      <h6 style="display: inline-block; float: right">
        <strong>${{product.price| floatformat:1}}</strong>
      </h6>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock search %}
